<div class="container">
  <div class="row">
    <div class="col-xl">
      <h1>Transactions</h1>
    </div>
    <div class="col-m">
      <a class="btn btn-primary btn-lg float-right">New Transaction</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Value</th>
        <th scope="col">Currency</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>+500</td>
        <td>usd</td>
        <td>2018</td>
        <td>2019</td>
      </tr>
    </tbody>
  </table>
</div>
